!!!
%html
  %head
    %title
      Project Euler Problem
      =prob_no
  %body
    %div.wrapper
      %h1
        Project Euler Problem
        =prob_no
      %p
        %em Solution not known yet!
      = haml :euler_nav, :locals => { :solved => solved }
